@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  width: 100vw;
  height: 100vh;
}

body {
  margin: 0;
}

@font-face {
  font-family: 'QianTuXianMo';
  src: url('/fonts/千图纤墨体.ttf') format('truetype');
  font-display: swap;
}
/* 禁用页面滚动 */
html,
body {
  overflow: hidden;
}